<!doctype html>
<html lang="en">
<head>
	<title>仮想通貨取引帳簿</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="css/mystyle.css">
	
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<h1>仮想通貨取引帳簿</h1>
	</div>

	<div class="container">
		<input type="file" id="file-history-load" style="display:none;">
		<button type="button" class="btn btn-primary" onClick="$('#file-history-load').click();">履歴の読み込み</button>
		<a href="#"  type="button" class="btn btn-success" id="btn-history-save">履歴の保存</a>
		<hr>
		<h3>ポートフォリオ</h3>
		<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th scope="col">コイン名</th>
				<th scope="col">残高</th>
				<th scope="col">平均取得値段 [円]</th>
				<th scope="col">簿価 [円]</th>
				<th scope="col">現在価格 [円]</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="detail in portfolio">
				<th scope="row">{{detail.coin}}</th>
				<td>{{detail.balance}}</td>
				<td>{{detail.averageAcquisitionPrice}}</td>
				<td>{{detail.value}}</td>
				<td>not supported yet</td>
			</tr>
			</tbody>
		</table>
		</div>
		<div class="row">
			<div class="col-sm-1">
				<label for="btn-profit">損益計算</label>
				<button type="button" class="btn btn-primary" id="btn-profit">損益計算</button>
			</div>
			<div class="col-sm-3">
				<label for="datetime-profit-from">対象日時 (from)</label>
				<input type='text' class="form-control " id='datetime-profit-from' />
			</div>
			<div class="col-sm-3">
				<label for="datetime-profit-to">対象日時 (to)</label>
				<input type='text' class="form-control " id='datetime-profit-to' />
			</div>
		</div>
		<h4><strong><p id="text-profit">対象期間の損益: </p></strong></h4>
	</div>
	<hr>
	<div class="container">
		<h2>取引の入力</h2>
		<p>日本円から仮想通貨を購入した時は、売却側にJPYと購総入金額[円]を入力してください</p>
		<p>仮想通貨を売却して日本円にしたときは、購入側にJPYと売却総金額[円]を入力してください</p>
		<p>仮想通貨間取引の場合は、チェックボックスをONにして、取引時の日本円相当の価値(例えば、売却通貨の総額[円])を入力してください</p>
		<div class="row">
			<div class="col-sm-3">
				<label for="datetime-trans">取引日時</label>
				<input type='text' class="form-control " id='datetime-trans' />
			</div>
			<div class="col-sm-2">
				<label for="text-trans-buycoin">購入 (Coin or JPY)</label>
				<input type="text" class="form-control" id="text-trans-buycoin" autocomplete="on" list="coin-type-list">
			</div>
			<div class="col-sm-2">
				<label for="num-trans-buyamount">購入 (数量 or 円)</label>
				<input type="tel" class="form-control" id="num-trans-buyamount">
			</div>
			<div class="col-sm-2">
				<label for="text-trans-sellcoin">売却 (Coin or JPY)</label>
				<input type="text" class="form-control" id="text-trans-sellcoin" autocomplete="on" list="coin-type-list">
			</div>
			<div class="col-sm-2">
				<label for="num-trans-sellamount">売却 (数量 or 円)</label>
				<input type="tel" class="form-control" id="num-trans-sellamount">
			</div>
		</div>

		<label for="addInputIsAlt">仮想通貨間取引?</label>
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" id="flag-trans-isAltAlt">
					</span>
					<input type="text" class="form-control" id="text-trans-AltAltJPY" placeholder="Sellコインの日本円換算の総額">
				</div>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-info" id="btn-trans-getcurrent" disabled>価格を取得 (not supported yet)</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<label for="text-trans-marketplace">取引所</label>
				<input type="text" class="form-control" id="text-trans-marketplace" autocomplete="on" list="marketplace-list" placeholder="必須ではありません">
			</div>
			<div class="col-sm-9">
				<label for="text-trans-comment">コメント</label>
				<input type="text" class="form-control" id="text-trans-comment" placeholder="必須ではありません">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<button type="button" class="btn btn-primary" id="btn-transaction-submit">登録</button>
				<button type="button" class="btn btn-secondary" id="btn-transaction-clear">クリア</button>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<h2>取引履歴</h2>
		<div class="table-responsive">
		<input type="button" id="btn-update-history" ng-click="updateHistory()" style="display:none;">
		<button type="button" class="btn btn-secondary" id="btn-history-clear">クリア</button>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">日時</th>
				<th scope="col">取引所</th>
				<th scope="col">購入通貨名</th>
				<th scope="col">購入通貨数量</th>
				<th scope="col">売却通貨名</th>
				<th scope="col">売却通貨数量</th>
				<th scope="col">仮想通貨間取引</th>
				<th scope="col">売却通貨のJPY価格</th>
				<th scope="col">残高</th>
				<th scope="col">簿価 [円]</th>
				<th scope="col">平均取得価格 [円]</th>
				<th scope="col">利益 [円]</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="transaction in history">
				<th scope="row">{{transaction.index}}</th>
				<td>{{transaction.datetime}}</td>
				<td>{{transaction.marketplace}}</td>
				<td>{{transaction.buyCoin}}</td>
				<td>{{transaction.buyAmount}}</td>
				<td>{{transaction.sellCoin}}</td>
				<td>{{transaction.sellAmount}}</td>
				<td>{{transaction.isAltTrade}}</td>
				<td>{{transaction.altJPY}}</td>
				<td><p>{{transaction.balance}}</p></td>
				<td><p>{{transaction.value}}</p></td>
				<td><p>{{transaction.averageAcquisitionPrice}}</p></td>
				<td>{{transaction.profit}}</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/view.js"></script>
	<script src="js/calculation.js"></script>
	<script src="js/file.js"></script>
	<script src="js/init.js"></script>

</body>
</html>
